<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar class="profileImage">
          <ion-img src="assets/foto.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <br><br><br><br><br><br><br><br><br><br><br>
      <h1><b>Adinda Ramadhani Wibowo</b></h1>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><br><br>
        <h1><small>00000023003-DL</small></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><br><br><br><br>
        <ion-card color="tertiary">
          <ion-item style="text-align: center;">
            <p style="opacity:60%;font-size:80%">Project ini dibuat bersama dengan Agung Nursyamsi, Ageng Prayogo, Wendy Rizky dan Geza Mahardika. 
              Library yang saya gunakan adalah menggunakan library bawaan dari ionic. Dalam mengerjakan saya mencari referensi di internet dan ionic website. </p>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>